body {
  background-color: #f1f1f1;
}

div {
  color: "black";
  text-align: "center";
  justify-content: "center";
}

.input_name,
.input_goal {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background-color: #f4f8ff;
  outline: 1px solid #192e6715;
  margin: 0 3px 3px 3px;
  width: 112px;
}
.input_name:focus,
.input_goal:focus {
  outline: 1px solid #192e67;
  box-shadow: 0px 0px 2px 2px #a6a1e765;
}
.input_goal {
  width: 250px;
}

/* color picker */
.circle-picker {
  border-radius: 8px;
  background-color: #f4f8ff;
  outline: 1px solid #192e6715;
  padding-left: 14px;
  padding-top: 14px;
}
.color-picker {
  display: flex;
  justify-content: center;
  margin-left: -14px;
  margin-top: 4px;
  z-index: 1;
}

.submit {
  background-color: #192e67;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #192e67;
  cursor: pointer;
}
.submit:hover {
  outline: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 0px 2px 2px #7175b330;
}

svg {
  width: 84%;
  height: 100%;
}
